.addToMBButton {
    padding: 10px;
    border: 1px solid var(--foreground-primary);
    border-radius: 20px;
    margin-top: 12px;
    display: block;
    width: -webkit-fill-available;
    width: -moz-available;
    font: 16px Arial;
    font-weight: bold;
    color: var(--foreground-secondary);
    background: transparent;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	text-decoration: none;
}

.addToMBButton:hover {
    border-color: var(--foreground-secondary);
    color: var(--background-primary);
}

.searchButton,
.findButton,
.lookupButton,
.actionButton {
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.searchButton {
	background-color: #0074d9;
}

.findButton {
	background-color: cadetblue;
}

.lookupButton {
	background-color: #28a745;
}

.searchButton:hover {
	background-color: #0056b3;
}

.findButton:hover {
	background-color: rgb(78, 131, 133);
}

.lookupButton:hover {
	background-color: #218838;
}