.noticeBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 5px black;
    opacity: 70%;
    transition: all 0.2s ease-in-out;

}

.noticeBox:hover {
    opacity: 100%;
}

.addToMBButton {
	padding: 10px;
	height: 15px;
	border: 1px solid var(--foreground-primary);
	border-radius: 20px;
	margin-top: 0 5px;
	display: block;
}

.boxBorder {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px dashed rgb(255, 0, 0, .7);
}