/* Provider color definitions */
/* Class names should match provider namespaces */

.spotify {
    color: var(--spotify-green);
}
.itunes {
    color: var(--itunes-red);
}
.tidal {
    color: var(--tidal-black);
}
.deezer {
    color: var(--deezer-purple);
}
.bandcamp {
    color: var(--bandcamp-blue);
}
.soundcloud {
    color: var(--soundcloud-orange);
}
.applemusic {
    color: var(--applemusic-red);
}
.naver {
    color: var(--naver-green)
}
.qobuz {
    color: var(--qobuz-black);
}
.volumo {
    color: var(--volumo-green);
}
.musicbrainz {
    color: var(--musicbrainz-purple)
}