.searchBox,
.findBox {
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 18px;
	resize: none;
	background: transparent;
    overflow: hidden;
}


.findBox {
	height: 20px;
}